<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_FOLDER" value="D:\\! Gallery\\Documents\\Hillel IT School\\Java Elementary\\hillel\\src\\main\\java\\homework22_cache\\logs"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_FOLDER}\logs.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="ALL">
        <appender-ref ref="FILE"/>
    </root>

</configuration>